@media screen and (max-width: 1250px) {
    #portfolioContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolioBoxes {
        flex-direction: column;
    }

    .profileCardBox {
        flex-wrap: wrap;
    }
}